{% extends 'base.html' %}

{% block head %}

	<title> Add Track - Wok3n </title>
	<style>
		body, html 
		{
			padding: 0;
			margin: 0;
			text-align: center;
			background-image:url(/wmedia/img/cells.png);
			background-repeat:no-repeat;
			background-position: center;
			background-size: 400em;
		}
		body > * 
		{ 
			text-align: left; 
		}
		a:link, a:hover, a:visited
		{
			color: #5B5180;
			font-size: 1.2em;
			padding-right: 1.4em;
			text-shadow: 0 0 30px white; 
		}
		a.simple:link, a.simple:hover, a.simple:visited
		{
			color: #5B5180;
			font-size: 1.2em;
			padding-right: 1.4em;
			text-decoration: none;
		}
		#file_checkmark 
		{
			display: none;
			padding-left: 0.3em;
		}
		#file_checkmark2
		{
			display: none;
			padding-left: 0.3em;
		}
		.form_details
		{
			font-size: 0.4em;
		}
	</style>
	<script type="text/javascript">
	    csrf_token = "{{csrf_token}}";
	    $(function()
	    {
	        activate_key_detection();
	        activate_file_detection();
	        uploading_track = false;
	    })
	 </script>

{% endblock %}

{% block body %}
		
	<a target='_blank' href='/nignog/'><img id='nignog' src='/wmedia/img/cell.png'></a>
	<form id='add_track_form' name='form' action='/' method='post' enctype='multipart/form-data'> {% csrf_token %}
	    <div id='form_right'>

	    	<a href='http://handbeezy.com/add_video/'>upload a video</a>

	    	<div class='v1'></div>

		    <div id='add_file_info'> choose an audio file <span class='form_details'>(mp3 | max 100mb)</span></div>
		    <input type='file' id='file_picker' name='track' accept='.mp3'> <i id='file_checkmark' class='fa fa-check'> nice! </i>

		    <div class='v3'></div>

		    <div id='add_file_info'> choose a background image <span class='form_details'>(jpg | max 2mb)</span></div>
		    <input type='file' id='file_picker2' name='image' accept='.jpg, .jpeg'> <i id='file_checkmark2' class='fa fa-check'> nice! </i>

		    <div class='v3'></div>

		    <span id='add_file_info'> choose a title </span> &nbsp; <a class='simple' href='#' onclick='detect_file_name(); return false;'> detect from file </a>

		  	<br><br>
		  	
		    <input type='text' id='input_track_title' name='title'>

		    <div class='v3'></div>

		    <a href='#' onclick='do_upload(); return false;' id='btn_upload'>start upload</a>  &nbsp;&nbsp;&nbsp; <a href='/'>go back</a>  &nbsp;&nbsp;&nbsp; <a href='/catalog'>catalog</a> 

		    <div class='v3'></div>

		    <div> note: you must wait 2 minutes after your last upload to upload again </div>

		    <br><br>

		    <div> note: please try to upload only high quality audio </div>

		    <br><br>

		    <div> note: you will be able to edit the track afterwards </div>

		    <br><br>

		</div>
	</form>
		
{% endblock%}

