{% extends 'base.html' %}

{% block head %} 

	<title> Listened - Wok3n </title>
	<script type="text/javascript">
	    $(function()
	    {
	        activate_key_detection();
	        get_watched();
	        $('#input_watched_search').focus();
	        enable_jumper();
	        search_watched(true);
	    })
	 </script>

	 <style>
	 	.button_catalog_search
	 	{
	 		width: 5em !important;
	 		height: 2em !important;
	 	}
	 </style>

{% endblock %}

{% block body %} 

	<div id='catalog_menu'>
		<div class='catalog_titulo'>Listened Tracks</div>
		<a class='ext' href='/'>main</a>
		<a href='' onclick='clear_cookies("listened"); return false' class='ext' href=''>clear cookies</a>
		<a class='ext' href='/add_track'>add track</a>
		<a class='ext' href='/likes'>liked</a>
		<a class='ext' href='/uploaded'>uploaded</a>
		<a class='ext' href='/catalog'>catalog</a>
		<a class='ext' href='/ads'>ads</a>
		<a class='ext' href='http://handbeezy.com'>videos</a>
		<br><br>
		<input type='text' id='input_watched_search'>
		<button style='font-size: 1.4em; padding: 0.3em'class='button_catalog_search' onclick='search_watched()'> search </button>
	</div>

	<div id='jumper' onclick='jump()'> &uarr; </div>


	<div id='entries'> {{entries | safe}} </div>

{% endblock %}

